<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'home'" routerLinkActive="router-link-active" >Home</a>
            
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'tareas'" routerLinkActive="router-link-active">Tareas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'cursos'" routerLinkActive="router-link-active">Cursos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'libros'" routerLinkActive="router-link-active">Libros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'about'" routerLinkActive="router-link-active">About</a>
        </li>
    </ul>
</nav>
