<h2>Google Libros</h2>
<div class="form-group">
  <label for="clave">Buscar titulos que contengan:</label>
  <input type="text" class='form-control' name='clave' [(ngModel)]="clave">
</div>
<button type="button" class="btn btn-primary" (click)="onBuscar()">Buscar</button>
<div *ngIf="libros.length">
  <h3>Lista de libros</h3>
  <ul class="list-group">
    <li *ngFor="let item of libros" class="list-group-item ">{{item.titulo}} | {{item.fecha}} | [
      <ng-container *ngFor="let autor of item.autor">
        <span>{{autor}}</span>
      </ng-container>]
    </li>
  </ul>
</div>

<!-- {{ datos$ | async | json}} -->