<h2>Acerca de nosotros</h2>
<ind-post>
  <ng-container class="titulo">Esta es la primera entrada</ng-container>
  <p class="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates natus dolores nesciunt maxime! Officiis doloremque distinctio voluptas pariatur provident repellat non, inventore hic rem tempora facere, dolor dolores sint obcaecati.</p>
</ind-post>
<ind-post>
  <ng-container class="titulo">Esta es la segunda entrada</ng-container>
  <ng-container class="contenido">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus consequatur vero corporis, nostrum reiciendis similique consequuntur sed ipsam dicta quibusdam sapiente placeat error voluptatem quae id eveniet quidem illum cumque.</p>
    <p>Asperiores similique dolores nostrum voluptatibus? Illum, culpa. Similique esse dicta cumque pariatur magni veritatis distinctio nam explicabo molestiae maxime magnam ex ducimus necessitatibus, officiis quasi eligendi beatae nihil a dolor.</p>
    <p>Officiis similique soluta commodi rerum blanditiis voluptas excepturi dicta error unde, eaque non tenetur impedit, nulla neque aliquam inventore temporibus doloremque corporis beatae officia in odio eius. Ipsam, eius eligendi?</p>  
  </ng-container>
</ind-post>
